h1 {
  font: 84px black;
  margin-left: 10vw;
  font-weight: 900;
}

ion-grid {
  height: 100vh;
  transition-duration: 1s;
}

.status {
  height: 40vh;
  margin-bottom: 30vh;
}
.on {
  color: white;
  background: black;
}

.off {
  color: black;
  background: white;
}
